/* GLOBAL */

*:focus {
  outline: none;
}

:root {
  /* Primary */
  --white: #ffffff;
  --night: #232740; /* Text */
  --sunrise: #ff6962; /* Primary call to action color */
  /* Secondary */
  --dusk: #48527b; /* "Highlight" background color */
  --sky: #48c1fc; /* Secondary call to action color */
  /* Tertiary */
  --cloud: #e7e7ec; /* For borders, backgrounds */
  --sand: #f9f5f0; /* For subtle micro-interactions */
}
body {
  color: var(--night);
}
.App {
  position: fixed;
  font-family: "Work Sans", sans-serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  /* letter-spacing: 0.6px; */
}
.content {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100%;
}
.caption {
  font-size: 12px;
  letter-spacing: 0.2px;
}
.caption-strong {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.2px;
  /* letter-spacing: 1px; */
}
h2 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: var(--night);
  margin-top: 12px;
  font-size: 20px;
}
h3 {
  font-weight: normal;
}
p {
  font-size: 14px;
  line-height: 1.2;
}
.attribute {
  color: var(--night);
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
.button-solid {
  height: 44px;
  padding: 0px 24px;
  border-radius: 6px;
  background-color: var(--sunrise);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  border: none;
  letter-spacing: 0.2px;
}
.button-solid-dark {
  height: 44px;
  min-width: 150px;
  padding: 0px 24px;
  border-radius: 6px;
  background-color: var(--dusk);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  margin-right: 16px;
  letter-spacing: 0.2px;
}

/* .button-solid-dark:hover {
  background-color: var(--white);
  color: var(--dusk);
  border: 2px solid var(--dusk);
} */

.button-ghost {
  height: 44px;
  font-size: 14px;
  padding: 0px 24px;
  border: 2px solid var(--dusk);
  border-radius: 6px;
  background-color: var(--white);
  color: var(--dusk);
  font-weight: bold;
  min-width: 120px;
  margin: 12px 0px;
  letter-spacing: 0.2px;
}

.button-pill {
  height: 36px;
  border-radius: 18px;
  border: 2px solid var(--white);
  background-color: transparent;
  padding: 0px 16px;
  color: var(--white);
  font-size: 12px;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
}

.button-pill:hover {
  background-color: var(--white);
  color: var(--dusk);
  border: 2px solid var(--white);
}

.input-text {
  height: 40px;
  width: 100%;
  font-size: 14px;
  border: 1px solid var(--cloud);
  border-radius: 6px;
  text-indent: 12px;
}
.divider {
  border-bottom: 1px solid var(--cloud);
  margin: 24px 8px 24px 0px;
}

.vertical-space {
  height: 8px;
  margin: 0;
}

/* MAP */
.mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.sidebar {
  display: inline-block;
  position: absolute;
  width: 20vw;
  top: 10px;
  left: 0px;
  left: 14px;
  margin: 12px;
  z-index: 1 !important;
  border-radius: 4px;
  text-align: left;
}

.sidebarReview {
  display: inline-block;
  position: absolute;
  width: 25vw;
  padding: 12px 24px 24px 24px;
  top: 0px;
  left: 0px;
  background-color: var(--white);
  color: var(--night);
  z-index: 1 !important;
  border-radius: 4px;
  text-align: left;
}

.review-trip-attributes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 12px;
}

.review-trip-attributes div {
  width: 33%;
}

.popUp {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px 60px;
  background-color: var(--night);
  color: white;
  z-index: 1 !important;
  padding: 3px 10px;
  border-radius: 4px;
}
.popUp :after {
  content: "\22B3";
}
.chart {
  display: flex;
  justify-content: center;
  align-items: center;
}

#myChart {
  /* margin-top: 24px; */
  height: 90vh !important;
  width: 100vw !important;
}

/* NAV BAR */
nav {
  width: 100vw;
  height: 70px;
  background-color: var(--dusk);
  z-index: 1;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav a {
  color: var(--white);
  text-decoration: none;
}

.nav-greeting {
  width: 33%;
  color: var(--white);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;
}
.logo {
  width: 33%;
  font-family: "Bitter", sans-serif;
  font-weight: 400;
  font-size: 26px;
  letter-spacing: 0.7px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
  padding-right: 32px;
}
.nav-links a {
  font-family: "Spartan", sans-serif;
  padding-left: 32px;
  text-decoration: none;
  color: var(--white);
  font-size: 12px;
  font-weight: 500;
}
/* TRIPS PAGE */
.wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 32px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.filter-wrapper {
  width: 35%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.trips-wrapper {
  width: 65%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* SEARCH & FILTER PANEL */
.filter-panel {
  width: 60%;
  height: 75%;
  padding: 24px 32px;
  background-color: var(--cloud);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.search-filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  text-align: left;
}
.filter-panel-button {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: -8px;
}

.filter-panel label {
  color: var(--night);
  display: block;
  text-align: left;
  margin: 6px;
  font-size: 14px;
}
.checkbox {
  margin-right: 12px;
}
.search-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--white);
  padding-bottom: 24px;
  margin-bottom: 24px;
}
.search-input {
  height: 40px;
  width: 100%;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  text-indent: 12px;
}
.search-button {
  height: 40px;
  width: 100%;
  border-radius: 6px;
  background-color: var(--sunrise);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin: 8px;
  border: none;
  letter-spacing: 0.2px;
}
/* TRIP CARD */
.trip-card {
  width: 75%;
  height: auto;
  padding: 18px;
  margin-bottom: 24px;
  border-radius: 6px;
  border: 1px solid var(--cloud);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  -moz-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
}
.trip-card a {
  text-decoration: none;
  color: var(--night);
}
.trip-review-container {
  width: 200px;
  height: 200px;
}
.primary-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 16px;
}
.secondary-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 12px;
}
.secondary-content div {
  width: 25%;
  line-height: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  text-align: left;
}

.favebutton {
  justify-content: space-evenly;
}

.heart {
  width: 30px;
  margin-top: 12px;
  cursor: pointer;
}

.trips-list {
  width: 100%;
  margin-bottom: 150px;
}

.delete-attribute {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
}

.delete-attribute button {
  text-align: right;
  width: 100%;
  background-color: none;
  border: none;
  color: var(--dusk);
  font-weight: bold;
  padding: 0;
}

.delete-attribute img {
  width: 24px;
  height: auto;
}

/* SIGNUP / LOGIN */
.auth-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
.auth-box {
  width: 300px;
  height: auto;
  padding: 18px;
  border-radius: 14px;
  border: 1px solid var(--cloud);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  -webkit-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  -moz-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
}
.auth-form {
  display: flex;
  flex-direction: column;
}
.auth-form div {
  width: 250px;
  height: 35px;
  padding: 10px;
}
.auth-form a {
  text-decoration: none;
}
.auth-form input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--cloud);
  border-radius: 7px;
  font-size: 16px;
  text-align: center;
  padding: 0;
}
.auth-btn {
  width: 100%;
  height: 44px;
  padding: 0px 24px;
  border-radius: 6px;
  background-color: var(--sunrise);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  border: none;
  letter-spacing: 0.2px;
}

#or-google {
  font-size: 16px;
  font-weight: 400;
  color: var(--night);
  margin: 2px 0;
}

.google-btn {
  border: 2px solid var(--dusk);
  border-radius: 6px;
  background-color: var(--white);
  color: var(--dusk);
}

.auth-links {
  text-decoration: none;
  color: var(--sky);
}

#auth-line {
  margin-top: 16px;
}

/* HOME */

.home-container {
  /* background-image: url("https://github.com/timbotimber/cyclingproject/blob/master/client/public/img/bike4.jpeg?raw=true"); */
  height: 100vh;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.phone {
  height: 600px;
}
.main {
  height: 50%;
  width: 500px;
  color: #1f3349;
  position: absolute;
  top: 10%;
  left: 14%;
  text-align: left;
}

.home-left {
  height: 100vh;
  width: 35%;
  background-color: var(--white);
  z-index: 1;
}

.home-right {
  height: 100vh;
  width: 65%;
  background-color: #d3d3df;
  color: #1f3349;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.home-right > img {
  margin: 5% 0px 0px 7%;
  height: 80%;
  width: auto;
}
.main h1 {
  font-family: "Spartan", sans-serif;
  font-size: 80px;
  font-weight: 800;
  line-height: 0.7;
  letter-spacing: 2px;
}
.main span {
  font-weight: bolder;
}

.intro-description {
  font-size: 16px;
  line-height: 1.5;
  width: 275px;
  letter-spacing: 0.2px;
}
.home-btns-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10%;
  height: 10%;
  width: 100%;
}

/* PROFILE */
.profile-wrapper {
  width: 38%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.info-wrapper {
  width: 57%;
  height: 75%;
  padding: 24px 32px;
  background-color: var(--cloud);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .profile-img-wrapper {
  margin-top: 10px;
} */

.profile-img {
  width: 60%;
  clip-path: circle(50% at center);
}

/* .avatar-img {
  width: 60%;
  clip-path: circle(50% at center);

} */

.sort-button-wrapper {
  width: 100%;
  height: auto;
  padding: 0 18px 18px 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sort-button {
  min-width: 120px;
  height: 44px;
  padding: 0px 10px;
  margin: 0px 5px;
  border: 2px solid var(--dusk);
  border-radius: 6px;
  background-color: var(--white);
  color: var(--dusk);
  font-size: 14px;
  font-weight: bold;
}

.sort-button:hover {
  background-color: var(--dusk);
  color: var(--white);
}

.sort-button-active {
  min-width: 120px;
  height: 44px;
  padding: 0px 10px;
  margin: 0px 5px;
  border: 2px solid var(--night);
  border-radius: 6px;
  background-color: var(--night);
  color: var(--white);
  font-size: 14px;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  /* div.info-wrapper {
    display: none;
  } */
  .wrapper {
    width: 100%;
    height: 100%;
    /* position: fixed; */
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }

  /* .profile-wrapper {
    width: 38%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .info-wrapper {
    width: 57%;
    height: 50%;
    padding: 12px 16px;
    background-color: var(--cloud);
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .trips-wrapper {
    width: 65%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .trip-card {
  width: 75%;
  height: auto;
  padding: 18px;
  margin-bottom: 24px;
  border-radius: 6px;
  border: 1px solid var(--cloud);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  -moz-box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4);
  box-shadow: 7px 6px 36px -15px rgba(109, 109, 151, 0.4); */
}

/* .timeline {
  border-left: @line solid @color-primary;
  border-bottom-right-radius: @radius;
  border-top-right-radius: @radius;    
  background: fade(@color-light, 3%);
  color: fade(white, 80%);
  font-family: @font-text;  
  margin: @spacing auto;  
  letter-spacing: 0.5px;   
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;   
  padding: @spacing;   
  list-style: none;
  text-align: left;  
  font-weight: 100;  
  max-width: 30%; 
  h1 {
   font-family: @font-title;
   letter-spacing: 1.5px;
   font-weight: 100;
   font-size: 1.4em;    
  }
  h2, h3 {
   font-family: @font-title;
   letter-spacing: 1.5px;
   font-weight: 400;
   font-size: 1.4em;
  }
  .event {
    border-bottom: 1px dashed fade(@color-light, 10%);
    padding-bottom: (@spacing * 0.5);
    margin-bottom: @spacing;  
    position: relative;
    &:last-of-type { 
      padding-bottom: 0;
      margin-bottom: 0; 
      border: none;      
    }
    &:before, &:after {
      position: absolute;
      display: block;
      top: 0;
    }
    &:before {
      left: (((@date * 0.6) + @spacing + @line + @dot + (@dotborder * 2)) * 1.5) * -1;    
      color: fade(@color-light, 40%);    
      content: attr(data-date);
      text-align: right;
      font-weight: 100;    
      font-size: 0.9em;
      min-width: @date;
      font-family: @font-title;
    }
    &:after {
      box-shadow: 0 0 0 @dotborder fade(@color-primary,100%);    
      left: (@spacing + @line + (@dot * 0.35)) * -1;        
      background: lighten(@background,5%);    
      border-radius: 50%;  
      height: @dot;
      width: @dot;
      content: "";
      top: 5px;
    }
  }
} */
